@media screen and (min-width: 1440px) {
  .pokemon_box {
    padding: 8px max(50px, calc(50% - 720px));
  }

  .main_content {
    padding: 50px max(50px, calc(50% - 720px));
  }
}

@media screen and (max-width: 820px) {
  .headline {
    flex-direction: column;
  }

  .headline h1 {
    font-size: clamp(1rem, 12vw, 4rem);
    margin-top: 16px;
  }

  input {
    width: 100%;
    max-width: 300px;
  }

  .evolution {
    gap: 8px;
  }
}
